
{%extends "plantilla.html"%}

{%block body%}
<div class="container d-flex justify-content-center align-items-center">
<h1 class="text-primary mt-3 mb-5">Editar Albums</h1>
</div>
   <div class="container d-flex justify-content-center align-items-center mb-5">
    <form action="/editar2/{{albums.0}}" method="POST">
        <div class="mb-3">
        <h2 class="text-primary-emphasis">Album</h2>
        <input type="text" name="txtTitulo" id="txtTitulo" value="{{albums.1}}" class="form-control-md border-info border-opacity-75 rounded" >
        </div>
        <div class="mb-3">
        <h2 class = "text-primary-emphasis">Artista</h2>
        <input type="text" name="txtArtista" id="txtArtista" value="{{albums.2}}" class="form-control-md border-info border-opacity-75 rounded">
        </div>
        <div class="mb-3">
        <h2 class="text-primary-emphasis">Lanzamiento</h2>
        <input type="text" name="txtAnio" id="txtAnio" value="{{albums.3}}" class="form-control-md border-info border-opacity-75 rounded">
        </div>
        <Button type="submit" class="btn btn-info mt-3 mb-5">Editar Album</Button>
    </form>
</div>

{%endblock%}    