<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
<h1>Eliminar Albums</h1>
    <form action="/delete/{{albums.0}}" method="POST">
        <h2>Album</h2>
        <input type="text" name="txtTitulo" id="txtTitulo" value="{{albums.1}}" disabled>
        <h2>Artista</h2>
        <input type="text" name="txtArtista" id="txtArtista" value="{{albums.2}}" disabled>
        <h2>Lanzamiento</h2>
        <input type="text" name="txtAnio" id="txtAnio" value="{{albums.3}}" disabled>
        <Button type="submit">Eliminar</Button>
    </form>
</body>
</html>