<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Médico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">HOME</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/registroM">Registro</a>
            </div>
          </div>
        </div>
      </nav>
      <br><br><br><br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h1>{{ message }}</h1>
            {% endfor %}
            {% endif %}
            {% endwith %}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <div class = "container-md">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="table-dark">ID</th>
                <th class="table-dark">RFC:</th>
                <th class="table-dark">NOMBRE:</th>
                <th class="table-dark">CÉDULA:</th>
                <th class="table-dark">CORREO:</th>
                <th class="table-dark">CONTRASEÑA:</th>
                <th class="table-dark">ROL:</th>
                <th class="table-dark">Operaciones</th>
                <th class="table-dark"></th>
            </tr>
        </thead>

        <tbody>
            {%for rfc in tbmedicos%}
            <tr>
               <td>{{rfc.0}}</td>
               <td>{{rfc.1}}</td>
               <td>{{rfc.2}}</td>
               <td>{{rfc.3}}</td>
               <td>{{rfc.4}}</td>
               <td>{{rfc.5}}</td>
               <td>{{rfc.6}}</td>
               <td><a href="#"> Editar</a></td>
               <td><a href="#"> Eliminar</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</body>
</html>